div#Information {
	
	position: relative;
}

div#codes {
	
	position: relative;
	top: 800;
	
}


div.title {
	
	padding: 40px 40px;
	color: white;
	background-color: rgba(17,17,17, 0.9);
	width: 100px;
	height: 100px;
	text-align: center;
	vertical-align: middle;
	font-size: 90px;
	border-radius: 50%;
	float:left;
	position: absolute;
	z-index: -10;
	top: 20px;
	left: 20px;
	
	
}



.title_description {
	
	background-color: rgba(17,17,17, 0.9);
	color: white;
	float: left;
	width: 1000px;
	font-size: 50px;
	border-radius: 0;
	padding: 20px 10px;
	padding-left: 80px;
	vertical-align: middle;
	position: absolute;
	top: 60px;
	left: 180px;
	z-index: -20;
	
}
	
.cover {
	
	padding: 40px 40px;
	color: white;
	background-color: white;
	width: 100px;
	height: 100px;
	text-align: center;
	vertical-align: middle;
	font-size: 90px;
	border-radius: 50%;
	position: absolute;
	z-index: -15;
	top: 20px;
	left: 40px;
	
	
}

.sources {
	
	position: absolute;
	top: 200px;
	left: 150px;
	font-size: 20px;
	margin-right: 250px;
	text-align: justify;
	
}

div.sources > p {
	
	border-bottom: dotted 3px rgba(17,17,17, 0.9);
	border-top: dotted 3px rgba(17,17,17, 0.9);
	padding-bottom: 10px;
	padding-top: 10px;
	
}